<div class="container-fluid">
  <div class="card border-light" id="main-card">
    <div class="card-header border-light">
      <h2>{{ title }}</h2>
    </div>
    <div class="card-body col">
      <div class="card border-light" id="drawspace-wrapper">
        <app-drawspace [isPlaying]=isPlaying [isReset]=isReset></app-drawspace>
      </div>
      <div class="card border-light" id="button-wrapper">
        <app-control-buttons (play)=onPlay($event) (reset)=onReset()></app-control-buttons>
      </div>
    </div>
    <div class="card-footer text-muted">
      <p>Made with ❤ in Maryland, USA</p>
    </div>
  </div>
</div>